<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eqor</title>

        <link rel="stylesheet" href="/template/css/app.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-body-tertiary">
        <main class="login-form d-flex align-items-center w-100 h-100 mx-auto py-5">
            <form class="bg-white p-5 border rounded-4 shadow-sm" action="/api/accountrecovery/{{.Email}}/{{.Hash}}" method="POST">
                <h1>Обновить пароль</h1>
                <div class="form-floating mb-3">
                    <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="passwordInput"
                        placeholder="New Password"
                    />
                    <label for="passwordInput">Пароль</label>
                </div>
                <div class="form-floating">
                    <input
                        name="confirm_password"
                        type="password"
                        class="form-control"
                        id="passwordconfirmInput"
                        placeholder="Confirm Password"
                    />
                    <label for="passwordconfirmInput">Подтвердите пароль</label>
                </div>
                <div>
                    {{if .message}}
                        <p class="red" style="color: green;">{{.message}}</p>
                    {{end}}
                </div>

                <button class="btn btn-primary py-3 w-100 mt-4" type="submit">
                    Отправить
                </button>
            </form>
        </main>

        <script src="/template/js/app.js"></script>
        <script src="/template/js/bootstrap.min.js"></script>
    </body>
</html>